version = 1

[github]
token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
user = "s-aran"
repository = "github_notifier"
abandoned_days = 90

[slack]
token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"     # user token
channel = "Cxxxxxxxxxx"    # from channel url
