version = 1

[github]
token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
user = "s-aran"
repository = "github_notifier"
abandoned_days = 90

[slack]
token = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"     # user token
channel = "Cxxxxxxxxxx"    # from channel url or @username
wait_for_review_message = """
There is a pull request waiting for review, please check.
{{pulls}}
"""
wait_for_review_message_format = "`{{pull_title}}`: {{pull_url}} (+{{abandoned_days}}days)"
wait_for_merge_message = """
There is a pull request waiting for merge, please check.
{{pulls}}
"""
wait_for_merge_message_format = "`{{pull_title}}`: {{pull_url}} (+{{abandoned_days}}days)"
